- var active = 4
- var pageName = 'Новости'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .page-wrap
      include includes/header
      main
        .container
          h1 Новости компании
        .container.news
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
          .news__item
            .news__item__image
              img(src="i/placeholder.jpg")
            .news__item__content
              span.news__date 11 ноября 2013 г.
              a.news__title(href="#") Разобрана ситуация о запрете на отчуждение имущества, находящегося в залоге
              p Юристами коллегии адвокатов “Муранов, Черняков и партнеры” подготовлен информационный обзор на тему “Россия и ВТО: итоги первого года”. 22 августа 2013 г. исполняется ровно год с момента, как Россия стала членом ВТО.
              a.news__readmore(href="#") Подробнее
        .container
          .pagination
            ul
              li: a(href="") 1
              li: a(href="") 2
              li: a(href="") 3
              li: a(href="") 4
              li: a(href="") 5
              li: a(href="") Следующая страница &rarr;
      include includes/footer
    include includes/tail