footer
	.container
		.footer__bg
			if (active == 1)
				.footer__bg__left
				.footer__image
		.footer__content
			.footer__first &copy; 2013, «Профессиональный аудиторский центр»<br>Создание сайта — студия «<a href="http://iastudio.ru" target="_blank">Интерактив</a>»
			.footer__second Владивосток<br>ул. Станюковича,<br>д. 3, оф. 2, «Сердце океана»
			.footer__third 8 (423) 279-02-19<br>8 (423) 260-72-88<br><a href="mailto:profauditcentre@gmail.com">profauditcentre@gmail.com</a>