//- SETTINGS
- var title = pageName + ' - Профессиональный аудиторский центр'
- var navItems = ['о компании', 'услуги', 'прайс-лист', 'новости', 'партнеры', 'карьера', 'офис г.Москва', 'фотогалерея', 'контакты']
//- SETTINGS